services:
  db:
    image: postgres:16
    ports:
      - 25432:5432
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-estimaite}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}

  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8008:8008"
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB:-estimaite}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - SERVER=runserver
      - DJANGO_PORT=8008
      - CREATE_SUPERUSER=${CREATE_SUPERUSER:-1}
    depends_on:
      - db
    volumes:
      - .:/app

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
